@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: #ffffff;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  height: 56px;
  position: sticky;
  top: 0;
}
.navbar .logo {
  display: flex;
  align-items: center;
  margin-left: 8px;
}
.logo svg {
  width: 129px;
  margin-left: 10px;
}
.navbar .searchbar {
  display: flex;
  align-items: center;
  height: 32px;
}
.search {
  display: flex;
  /* border: 1px solid #c6c6c6; */
  width: 536px;
  height: 40px;
  margin-right: 10px;
}
.search input {
  border: 1px solid #c6c6c6;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 90%;
  padding-left: 16px;
  padding-right: 4px;
}
.search button {
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  width: 10%;
}
.material-icons {
  color: #606060;
  margin-right: 10px;
  border-radius: none;
  background-color: transparent;
}

/* .matierial-icons,
.notification {
  fill: white;
  outline-color: red;
} */

.create,
.mic {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.create {
  border: none;
  border-radius: 18px;
  background-color: #f2f2f2;
  color: black;
  height: 36px;
  width: 100px;
  /* display: flex; */
  align-items: center;
  /* font-size: 10px; */
}
.navigation-icons {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  width: 225px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainbody {
  display: flex;
  /* 56px is from navbar height */
  height: calc(100vh - 56px);
  overflow: hidden;
}
.category-section {
  border-bottom: 1px solid #f2f2f2;
  margin-top: 12px;
  padding-top: 12px;
}
.category-section .material-icons {
  margin-right: 20px;
}
.categories {
  width: 240px;
  height: 100%;
  overflow-y: scroll;
}
.category {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 24px;
  cursor: pointer;
}
.active {
  background-color: #f2f2f2;
  border-radius: 18px;
}
.active i {
  color: #030303;
}

.category:hover {
  background-color: #f2f2f2;
  border-radius: 18px;
}
.category-heading {
  padding: 4px 0px 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: #0f0f0f;
}

.videos {
  width: calc(100vw - 240px);
  height: 100%;
}
.material-symbols-outlined {
  margin-right: 22px;
  background-color: transparent;
}
img {
  margin-right: 22px;
  background-color: transparent;
}
.category-footer {
  padding: 25px;
}
.footer-section {
  margin-bottom: 12px;
}
.footer-section span {
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
  cursor: pointer;
  color: #606060;
}
.copyright {
  color: #909090;
  font-size: 12px;
  font-weight: 400;
}
